body{
    background-image: url("../images/listeningMusicBackground.jpg");
    background-size: 1800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button,div,form,input {
margin: 5px;
}

input {
    width: 200px;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    /* background-color: lightpink; */
    width: 400px;
    /* margin-left:30%; */
    margin-bottom:-50px;

}

 label {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

#ratingsText {
    font-weight: bold;
    /* color: white; */
    font-size: 20px;
    color: #FF1493;

}

.searchInfoHere {
    border: 5px solid white;
}

.giphsHere {
    overflow:auto;
    width: 300px;
    /* border: 2px solid white;  */
}
img, #ratingsText{
    margin-left: 30%;
    margin-bottom: 10px;
}

button{
    background-color: #FF1493;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    cursor:pointer;
    width: 200px;
}

button:hover {
    opacity: 0.5;
    color: black;
}

input {
    margin-bottom: 15px;
}

p {
    position: fixed;
    bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
    background-size: 1000px;
    }


    #clickMeMsg {
     text-align: center;
     /* background-color: white;
     border: 2px solid #FF1493;*/
    } 

    .searchInfoHere {
        width: 455px;
        padding-bottom: 10px;
    }

    input {
        margin: 0 auto;
        width: 150px;
    }

    #ratingsText {
        text-align: left;
    }

}

@media screen and (max-width: 640px) {
    body {
        background-size: 820px;
        }

    button {
        font-size: 15px;
    }

    #clickMeMsg {
        font-size: 25px;

       } 

    input {
        margin: 0 auto;
       
    }
    .searchInfoHere {
        margin: 0 auto;
        width: 400px;
    }


}