body{
    background-image: url("../images/headphonesBackground.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button,div,form,input {
margin: 5px;
}

#clickMsg {
    color: white;
}

input {
    width: 200px;
}


h1 {
    text-align: center;
    color: white;
}

h3 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    width: 400px;
    /* margin-left:30%; */
    margin-bottom:-30px;
    margin-left: 60px;

}

 label {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

#ratingsText {
    font-weight: bold;
    /* color: white; */
    font-size: 20px;
    color: #FF1493;

}

.searchInfoHere {
    border: 5px solid white;
}

.giphsHere {
    width: 300px;
    /* border: 2px solid white;  */
}
img, #ratingsText{
    margin-left: 30%;
    margin-bottom: 10px;
}

img {
    width: 300px;
}

button{
    background-color: #FF1493;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    cursor:pointer;
    width: 200px;
}

button:hover {
    opacity: 0.5;
    color: black;
}

input {
    margin-bottom: 15px;
}

p {
    position: fixed;
    bottom: 0;
    color: white;
}
